body {
    font-size:xx-large;
    background-color: cornsilk;
    text-align: justify;

}

input {
    font-size: x-large;
    width: 150px;
}

textarea {
    font-size: x-large;
    width: 300px;
}

button {
    font-size: x-large;
    background-color: white;
    color: black;
    border: 2px solid #ded266d1;
}